<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
	<link href="../static/js/bootstrap-5/css/bootstrap.css" th:href="@{/js/bootstrap-5/css/bootstrap.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
	<link href="../static/css/common-styles.css" th:href="@{/css/common-styles.css}" rel="stylesheet" />
</head>

<body> 

	<div class="container" style="background-color: white;padding-bottom: 2rem;">
		<div>
			<div class="parallax-window" data-parallax="scroll" th:data-image-src="@{/img/banner.jpg}">
				<a href="/">
					<img  th:src="@{/img/banner.jpg}" class="img-fluid tm-gallery-img" style="object-fit: fill">
				</a>
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Wakacje marzeń</h1>
								<h6 class="tm-site-description">Twoje biuro podróży!</h6>
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="/" class="tm-nav-link active">Strona główna</a></li>
								<li class="tm-nav-li"><a href="/contact" class="tm-nav-link">Kontakt</a></li>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<!-- Gallery -->
			<div class="row-container tm-gallery justify-content-center" style="margin-bottom: 3rem;margin-top:2rem;">
				<!-- gallery page 1 -->
				<div class="container" style="margin-top: 3rem;">
					<div class="row">
						<div class="col-md-6" style="margin-bottom: 3rem;">
							<img  th:if="${!#lists.isEmpty(product.stringImages)}" th:src="*{'data:image/png;base64,'+ product.stringImages[0]}" class="img-fluid tm-gallery-img box-shadow">
							<img  th:if="${#lists.isEmpty(product.stringImages)}" th:src="@{/img/no-image.png}" class="img-fluid tm-gallery-img">
						</div>
						<div class="col-md-6">
							<h2 class="tm-gallery-title" th:text="${product.name}" style="font-size: 2rem;">Fusce dictum finibus</h2>
							<p class="tm-gallery-description details-description" th:text="${product.shortDescription}" style="font-size: 1rem">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p>
							<p class="tm-gallery-price" th:text="${product.price} + 'zł'" style="font-size: 1.7rem">$45 / $55</p>
						</div>
					</div>
				</div>
				<div class="container">
					<p class="tm-gallery-description details-description" th:text="${product.description}" style="font-size: 1rem">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p>
				</div>
			</div>

		</main>
	</div>

	<script th:src="@{/js/bootstrap-5/js/bootstrap.js}" src="../static/js/bootstrap-5/js/bootstrap.js"></script>
	<script th:src="@{/js/jquery/jquery-3.4.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/gallery-2/src/simplegallery.min.js}" src="../static/js/gallery-2/src/simplegallery.min.js"></script>
	<script th:src="@{/js/events_handler.js}" type="text/javascript"></script>

	<script>
		jQuery(document).ready(function () {
		});
	</script>
</body>
</html>